body {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: 100%;


 font-family: 'Yatra One', cursive;
 color

}




	.intropics{ 
				
				margin-left: 9%;
				padding: 5px;
	 }


   #start{height: 500px; width: 270px;
          margin-left: 10px;
          border: 2px solid #FFD700;
          opacity: 90%
          }

 a:link {
  color: #fc9403;
  cursor: default;
  text-decoration: none;
}

 a:visited {
  color: #fc9403;
  cursor: default;
text-decoration: none;
}


a:active {
  color: #fc9403;
  cursor: default;
  text-decoration: none;
}


.links{font-size: }

.left{background-color: blue;
		width: 50%;
		height: 500px;
    }

    .about1{width: 50%}

#pic1{height: 300px; width: 300px;
         
      margin-left: 27%;




      }

#abt{ text-align: center;
      color: #fc9403 ;
      margin-top: -35px}

.about1{background: #ff5454;
        opacity: 70%}

#td1{width: 700px}

      #td2{ ; height: 700px ;
          display: block;
          padding: 30px;
          overflow:hidden;
    overflow-y: scroll;



    


        }

#scroll{overflow-y: scroll;
        }


#study{opacity: 30%}


#table2id1{width: 700px;
            background: white;
            height: 700px;
            }

#table2id2{ width: 700px;
            background: url('back1.jpg');
            background-size: cover;
            font-size: 10px;
            opacity: 80%
            }


#abt2{ text-align: center;
      color: #fc9403 ;
      margin-top: -35px;
      font-size: 50px ;
      }


.skl{ display: block;
      overflow: hidden;
      overflow-y: scroll; }

.skills1{ background:white ;
          height: 690px;
          display: block;
          padding: 0px;

}      


#htmlimg{ height: 290px;
          width: 300px;
          display: block;
          margin-left: auto;
          margin-right: auto;
           }
#htmldetail{text-align: center;}

.level{opacity: 30%}

.w3-light-grey{text-align: center;}

#next{text-align: right;
      cursor: e-resize;}



.skills2{background:white;
          height: 690px;
          display: block;
          padding: 10px;}

.skills3{background:white;
          height: 690px;
          display: block;
          padding: 10px;}



#table3{width: 700px;
            background: url('contactback.jpg');
            background-size: cover;
            font-size: 10px;
            opacity: 80%}

#contact{text-align: center;
      color: #fc9403 ;
      margin-top: -35px;
      font-size: 50px ;
      font-family: 'Fuggles', cursive;
    }


















