body {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: 100%;


 font-family: 'Yatra One', cursive;
 color

}




	.intropics{ 
				
				margin-left: 9%;
				padding: 5px;
	 }


   #start{height: 500px; width: 270px;
          margin-left: 10px;
          border: 2px solid #FFD700;
          opacity: 90%
          }

 a:link {
  color: #fc9403;
  cursor: default;
  text-decoration: none;
}

 a:visited {
  color: #fc9403;
  cursor: default;
text-decoration: none;
}


a:active {
  color: #fc9403;
  cursor: default;
  text-decoration: none;
}


.links{font-size: }

.left{background-color: blue;
		width: 50%;
		height: 500px;
    }

    .about1{width: 50%}

#pic1{height: 300px; width: 300px;
         
      margin-left: 27%;




      }

#abt{ text-align: center;
      color: #fc9403 ;
      margin-top: -35px}

.about1{background: #ff5454;
        opacity: 70%}

#td1{width: 700px}

      #td2{ ; height: 700px ;
          display: block;
          padding: 30px;
          overflow:hidden;
    overflow-y: scroll;



    


        }

#scroll{overflow-y: scroll;
        }


#study{opacity: 30%}


#table2id1{width: 700px;
            background: white;
            height: 700px;
            }

#table2id2{ width: 700px;
            background: url('back1.jpg');
            background-size: cover;
            font-size: 10px;
            opacity: 80%
            }


#abt2{ text-align: center;
      color: #fc9403 ;
      margin-top: -35px;
      font-size: 50px ;
      }


.skl{ display: block;
      overflow: hidden;
      overflow-y: scroll; }

.skills1{ background:white ;
          height: 690px;
          display: block;
          padding: 0px;

}      


#htmlimg{ height: 290px;
          width: 300px;
          display: block;
          margin-left: auto;
          margin-right: auto;
           }
#htmldetail{text-align: center;}

.level{opacity: 30%}

.w3-light-#828282{text-align: center;}

#next{text-align: right;
      cursor: e-resize;}



.skills2{background:white;
          height: 690px;
          display: block;
          padding: 10px;}

.skills3{background:white;
          height: 690px;
          display: block;
          padding: 10px;}



#table3{width: 700px;
            background: url('contactback.jpg');
            background-size: cover;
            font-size: 10px;
            opacity: 80%}

#contact{text-align: center;
      color: #fc9403 ;
      margin-top: -35px;
      font-size: 50px ;
      font-family: 'Fuggles', cursive;
    }

    .contactside{padding: 10px}


.contactform{}


#fname{ width: 45%;
        background-color: #828282;
        padding: 5px;
        text-align: center;
       
       font-family: 'Yatra One', cursive;
        font-size: 20px  }


#lname{width: 45%;
        background-color: #828282;
       padding: 5px;
       margin-left: 10px;
       text-align: center;
     font-family: 'Yatra One', cursive;
     font-size: 20px}


#emailid{width: 92.3%;
        background-color: #828282;
       padding: 5px;
       text-align: center;
       margin-top: 2px;
     font-family: 'Yatra One', cursive;
     font-size: 20px}

#review{ margin-top: 2px;
         background-color: #828282;
         width: 92.3%;
           text-align: center;
     font-family: 'Yatra One', cursive;
     font-size: 18px;
     border-bottom: 4px solid #52debd
       }    

#submit{background-color: #828282;
        margin-left: 84%
        }





.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

.fa:hover {
    opacity: 0.7;
    color: black
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-linkedin {
  color: white;
}



.fa-instagram {
  color: white;
}


.social{font-size: 40px;
        text-align: center; }






.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}





